.App {
  text-align: center;
}
.froms{
  radius:50%
}
.button{
  radius: 50%;
  background-color: red;
  color: white
}
.App-Logo {
  height: 10vmin;
  height: 23vmax;
  margin-top: 15vmin;
  margin-top: 25vmax;
  pointer-events: none;
}

.background{
  background-color: white;
  min-width: 100vh;
  min-height: 100vh;


}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
