.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}
.lefta{
  width: 60%;
  background-image: url('./images.jpg');
  background-repeat:no-repeat;
  background-size: 100%;
}

.righta{
  right: -100;
  width: 40%;
}
.forms input{
  radius:50%
}
.button{
  border-radius: 0.5em;
  font-size: .7em;
  font-weight: 300;
  height: 6vh;
  width: auto;
  background-color: white;
  color: black;
}

.subtext{
  font-size: .5em;
  text-decoration: none;
  color: black;
}

.subtext:hover{
  color: blue;
  text-decoration:underline;
}
.App-Logo {
  height: 20%;
  pointer-events: none;
}

.ground{
  background-color: white;
  width: 50em;
  margin: auto;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

/*?*/
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrong{
  color:red;
  font-size: .73em;
}