.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}
.lefta{
  width: 60%;
}

.righta{
  right: -100;
  width: 40%;
  margin: auto 0;
  height: fit-content;
}
.forms input{
  radius:50%
}
.button{
  width: 30%;
  margin: 1em 0;
  border-radius: 0.5em;
  font-size: 1em;
  height: 6vh;
  background-color: white;
  color: black;
  border: black thin solid;
}

.button:hover {
  background-color: lightgrey;
}

.subtext{
  font-size: .25em;
  text-decoration: none;
  color: black;
}

.subtext:hover{
  color: blue;
  text-decoration:underline;
}
.App-Logo {
  height: 20%;
  pointer-events: none;
}

.ground{
  background-color: white;
  width: 45em;
  margin: auto;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

/*?*/
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrong{
  color:red;
  font-size: .73em;
}